<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a id="current-user" href="javascript:"><%= user %></a>
    <a href="/loginout">退出</a>
    <a href="/test">test api</a>
    <br>
    <input type="text" id="to-user">
    <button id="bf">sure</button>
  </body>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/vue.js"></script>

  <script>
    $(function(){
      var socket = io.connect("http://localhost:8888?user=<%= user %>");

      socket.on("system",function(data){
        console.log(data)
        if(data.type == "go-online"){
          console.warn(data.user+"上线了...")
        }
        if(data.type == "off-online"){
          console.warn(data.user+"下线了...")
        }
      })
    })
  </script>
</html>
