<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="header">
        <a class="fr" href="/loginout">退出</a>
        <div class="fr" id="current-user"><i class="fa fa-user"></i>&nbsp;<%= user %> &nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>


    <div id="app"></div>
  </body>
  <script>
    var currentUser = "<%= user %>";
  </script>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/common.lib.js"></script>
  <script src="/index.bundle.js"></script>
</html>
