<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form id="login-form" action="/login" method="post">
        <input type="text" name="user">
        <input type="password" name="password">
        <input id="login" type="button" value="login">
    </form>
</body>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/socket.io.js"></script>

<script>
    $(function(){
        $("#login").on("click",function(){
            $.post("/login",$("#login-form").serialize(),function(result){
                if(result.status == 1){
                    window.location.href = "http://localhost:8888/";     
                }
            })
        })
    })
</script>
</html>